<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kk.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kk.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @kk.qty %>
</p>
  <%= add_to_cart(@kk) %>
<%= link_to 'Edit', edit_kk_path(@kk) %> |
<%= link_to 'Back', kks_path %>
