%br
.col-md-3.col-sm-3
  %h4
    Billing Address 
    = link_to '(edit)', wizard_path(:billing)
  %p
    = @order.billing_address.firstname
    = @order.billing_address.lastname
    %br
    = @order.billing_address.address
    %br
    = @order.billing_address.zipcode
    %br
    = @order.billing_address.city
    %br
    = @order.billing_address.phone
    %br
    = @order.billing_address.country
.col-md-3.col-sm-3
  %h4
    Shipping Address 
    = link_to '(edit)', wizard_path(:shipping)
  %p
    = @order.shipping_address.firstname
    = @order.shipping_address.lastname
    %br
    = @order.shipping_address.address
    %br
    = @order.shipping_address.zipcode
    %br
    = @order.shipping_address.city
    %br
    = @order.shipping_address.phone
    %br
    = @order.shipping_address.country
.col-md-3.col-sm-3
  %h4
    Shipments
    = link_to '(edit)', wizard_path(:delivery)
  %p
    = @order.delivery.company
    %br
    = @order.delivery.costs
.col-md-3.col-sm-3
  %h4
    Payment Information
    = link_to '(edit)', wizard_path(:payment)
  %p
    = @order.credit_card.number
    %br
    = @order.credit_card.expiration_month
    #{"/"}
    = @order.credit_card.expiration_year