.container
  .row.text-center
    %h2.text-center
      Checkout
    = render 'progress'
  .row
    = render 'overview'
  .row
    .col-md-12
      .thumbnail
        .caption-full
          %h2
            = "Order##{@order.id}"
            %small
              %i
                = @order.aasm.human_state
          - if @order.order_items.empty?
            %h2
              No items.
          - else
            %table.table.table-hover                  
              %thead        
                %th.col-md-1
                  Cover
                %th.col-md-4
                  Book
                %th.col-md-4
                  Price
                %th.col-md-1
                  Qty
                %th.col-md-2
                  Total
              %tbody
                - @order.order_items.each do |item|
                  %tr
                    / %td
                    /   = image_tag(item.itemable.cover.url)
                    %td
                      = item.itemable.name
                    %td
                      $#{item.itemable.price}
                    %td
                      = item.qty
                    %td
                      $#{item.price * item.qty}
                %tr.line
                  %td{colspan: 2}
                  %td.text-right{colspan: 2}
                    %strong
                      Subtotal:
                      %br
                      Shipping:
                  %td
                    = number_to_currency(@order.total_price)
                    %br
                    = number_to_currency(@order.delivery.costs)
                %tr
                  %td{colspan: 2}
                  %td.text-right{colspan: 2}
                    %strong
                      Order total:
                  %td
                    = number_to_currency(@order.total_price + @order.delivery.costs)
  .row
    .col-md-4
    .col-md-4
      = link_to 'Place order', order_path(@order), method: :patch, :class => "btn btn-success btn-lg btn-block"
    .col-md-4
