.container
  .row.text-center
    %h2.text-center
      Checkout
    = render 'progress'
  .row
    .col-md-4.col-sm-4
      %h2
        Shipping Address 
      %p
        = @order.shipping_address.firstname
        = @order.shipping_address.lastname
        %br
        = @order.shipping_address.address
        %br
        = @order.shipping_address.zipcode
        %br
        = @order.shipping_address.city
        %br
        = @order.shipping_address.phone
        %br
        = @order.shipping_address.country

    .col-md-4.col-sm-4.text-center
      %h2
        Delivery services
      = form_for @order, url: wizard_path do |f|
        - if @order.errors.any?
          #error_explanation
            %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
            %ul
              - @order.errors.full_messages.each do |msg|
                %li= msg
        
        .form-group
          - SimpleCart::Delivery.all.each do |company|
            .radio
              %label 
                = f.radio_button :delivery_id, company.id, :checked => company == SimpleCart::Delivery.first || @order.delivery == company
                = "#{company.company}, #{number_to_currency(company.costs)}"

        .actions
          .col-md-6
            = link_to 'Back', previous_wizard_path, class: 'btn btn-default btn-block'
          .col-md-6
            = f.submit 'Continue', class: 'btn btn-success btn-block'

    .col-md-4.col-sm-4.text-center
      %h2
        Order Summary
      = render 'summary'

