.container
  .row
    .col-md-12
      .thumbnail
        .caption-full
          - if @orders.empty?
            %h2
              You have no orders yet.
          - else
            %h2 In progress
            %hr
            - if @in_progress.empty?
              %p No orders in progress
            - else
              - @in_progress.each do |order|
                - if order.order_items.empty?
                  %h2
                    No items.
                - else
                  %table.table.table-hover                  
                    %thead        
                      %th.col-md-1
                        Cover
                      %th.col-md-4
                        Book
                      %th.col-md-4
                        Price
                      %th.col-md-1
                        Qty
                      %th.col-md-2
                        Total
                    %tbody
                      - order.order_items.each do |item|
                        %tr
                          %td
                            / = image_tag(item.book.cover.url)
                          %td
                            = item.itemable.name
                          %td
                            $#{item.itemable.price}
                          %td
                            = item.qty
                          %td
                            $#{item.price * item.qty}
                      %tr.line
                        %td{colspan: 3}
                          = link_to 'Continue checkout', order_checkout_index_path(order), :class => "btn btn-success"
                        %td.text-right
                          %strong
                            Subtotal
                        %td
                          $#{order.total_price}
            %br
            %br
            %br
            %h3 Wating for process
            %hr
              - if @in_queue.empty?
                %p No procceeded orders
              - else
                %table.table.table-hover                  
                  %thead        
                    %th.col-md-1
                      Number
                    %th.col-md-4
                      Completed at
                    %th.col-md-4
                      Total
                    %th.col-md-1                    
                  %tbody
                    - @in_queue.each do |order|
                      %tr
                        %td
                          = link_to order.id, order_path(order)
                        %td
                          = order.completed_date
                        %td
                          = number_to_currency(order.total_price)
                        %td
                          = link_to 'view', order_path(order)        
            %h3 Delivered
            %hr
              - if @delivered.empty?
                %p No delivered orders
              - else      
                %table.table.table-hover                  
                  %thead        
                    %th.col-md-1
                      Number
                    %th.col-md-4
                      Completed at
                    %th.col-md-4
                      Total
                    %th.col-md-1                    
                  %tbody
                    - @delivered.each do |order|
                      %tr
                        %td
                          = link_to order.id, order_path(order)
                        %td
                          = order.completed_date
                        %td
                          = number_to_currency(order.total_price)
                        %td
                          = link_to 'view', order_path(order)