.container
  .row.text-center
    %h2.text-center
      Checkout
    = render 'progress'
  = form_for @order, url: wizard_path do |f|
    .row
      .col-md-4.col-sm-4
        %h2
          Billing Address  
        - if @order.errors.any?
          #error_explanation.alert.alert-danger
            %h4= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
            %ul
              - @order.errors.full_messages.each do |msg|
                %li= msg
        = f.fields_for :billing_address do |ff|
          = render 'address', ff: ff
      .col-md-4.col-sm-4.text-center
        %h2
          Shipping Address 
        .checkbox
          %label
            = check_box(:shipping, :use_billing_address, {:checked => true}, true, false)
            Use billing address
      .col-md-4.col-sm-4.text-center
        %h2
          Order Summary
        = render 'summary'

    .row
      .col-md-4.col-sm-4.actions
        = f.submit 'Save and continue', class: 'btn btn-success btn-block'


